@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /***** Index *****
    1. Common
    2. Buttons
    3. Forms & Inputs
    4. Headers
    5. Card
    6. Vue Cal
    7. Vue-Select
     */

    /****************/

    /*Common*/
    body {
        @apply font-montserrat bg-gray-100 text-gray-500 text-sm;
    }

    a, router-link {
        @apply text-primary
    }

    a:hover, router-link:hover {
        @apply text-primary-active
    }

    a.sidebar_menu {
        @apply text-white group w-full flex items-center pl-2 py-2 text-sm rounded-md
    }

    a.sidebar_menu.active {
        @apply bg-primary-active
    }

    /*Buttons*/
    .btn {
        @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm focus:outline-none rounded-full
    }

    .btn-primary {
        @apply text-white bg-primary hover:bg-primary-active hover:text-white
    }

    .btn-primary:disabled {
        @apply bg-primary-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-primary-outline {
        @apply text-primary border border-primary hover:bg-primary-active hover:text-white
    }

    .btn-primary-outline:disabled {
        @apply bg-primary-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-secondary {
        @apply text-white bg-secondary hover:bg-secondary-active hover:text-white
    }

    .btn-secondary:disabled {
        @apply bg-secondary-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-success {
        @apply text-white bg-success hover:bg-success-active hover:text-white
    }

    .btn-success:disabled {
        @apply bg-success-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-danger {
        @apply text-white bg-danger hover:bg-danger-active hover:text-white
    }

    .btn-danger:disabled {
        @apply bg-danger-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-warning {
        @apply text-white bg-warning hover:bg-warning-active hover:text-white
    }

    .btn-warning:disabled {
        @apply bg-warning-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-info {
        @apply text-white bg-info hover:bg-info-active hover:text-white
    }

    .btn-info:disabled {
        @apply bg-info-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    .btn-dark {
        @apply text-white bg-dark hover:bg-dark-active hover:text-white
    }

    .btn-info:disabled {
        @apply bg-dark-disabled border-0 cursor-not-allowed hover:text-white text-white;
    }

    /*Forms & Inputs*/
    .form-control.invalid {
        @apply border-danger bg-danger-transparent
    }

    .form-control.valid {
        @apply border-success bg-success-transparent
    }

    input[type='text'], input[type='number'], input[type='password'], textarea, input[type='email'], select {
        @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:border-primary rounded-full sm:text-sm
    }

    input[type='checkbox'], input[type='radio'] {
        @apply h-4 w-4 text-primary focus:ring-indigo-500 border-gray-300 rounded m-1
    }

    input[type='radio'] {
        @apply rounded-full
    }

    .form-group {
        @apply space-y-1
    }

    label {
        @apply block text-sm text-secondary
    }

    /* Headers */

    h1 {
        @apply py-4 text-5xl text-dark-active font-bold
    }

    h2 {
        @apply py-4 text-4xl text-dark-active font-bold
    }

    h3 {
        @apply py-4 text-3xl text-dark-active font-bold
    }

    h4 {
        @apply py-4 text-2xl text-dark-active font-bold
    }

    h5 {
        @apply py-4 text-xl text-dark-active font-bold
    }

    /*Cards*/
    .card {
        @apply bg-white shadow rounded-2xl p-4
    }

    /*6. Vue Cal*/
    /*Calendar Customization*/

    .vuecal {
        border : none!important;
        box-shadow : none!important;
    }

    .vuecal__cell--disabled {
        background-color: #ffeaea !important;
    }

    .vuecal__title-bar {
        background: transparent!important;
        color: #7367F0!important;
    }

    .vuecal__weekdays-headings {
        color: #7367F0!important;
        border : none!important;
    }

    .calendar_primary {
        background: teal!important;
    }

    .calendar_sport {
        background: teal!important;
    }

    .calendar_info {
        background: cornflowerblue!important;
    }

    .calendar_leisure {
        background: indianred!important;
    }

    /*Vue Select Customization*/

    .vs__dropdown-toggle {
        border-radius: 50px!important;
        padding: 4px 10px!important;
        margin-top: 4px!important;
    }
    .vs__selected {
        background: #7367F0!important;
        color: white!important;
        border-radius: 50px!important;
        padding: 1px 10px!important;
    }

}
